{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ paragraph.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
        {% if paragraph.localgov_contact_heading.0.value %}
          <h2>{{ content.localgov_contact_heading  }}</h2>
        {% endif %}
        {% if paragraph.localgov_contact_subheading.0.value %}
          <h3>{{ content.localgov_contact_subheading  }}</h3>
        {% endif %}
        <div class="lgd-row">

                {# Begin Contact First #}
                <div class="lgd-row__one-half">
                  <ul class="contact-list">
                    {% if content.localgov_contact_email %}
                      <li class="contact-list-item">
                        {{ content.localgov_contact_email }}
                      </li>
                    {% endif %}

                    {% if paragraph.localgov_contact_phone.value %}
                      <li class="contact-list-item">
                        {{ content.localgov_contact_phone }}
                      </li>
                    {% endif %}
                    {% if paragraph.localgov_contact_mobile.value %}
                      <li class="contact-list-item">
                        {{ content.localgov_contact_mobile }}
                      </li>
                    {% endif %}
                    {% if paragraph.localgov_contact_out_of_hours.value %}
                      <li class="contact-list-item">
                        {{ content.localgov_contact_out_of_hours }}
                      </li>
                    {% endif %}
                    {% if paragraph.localgov_contact_minicom.value %}
                      <li class="contact-list-item">
                        {{ content.localgov_contact_minicom }}
                      </li>
                    {% endif %}

                    {% if paragraph.localgov_contact_url.value %}
                      <li class="contact-list-item">
                        {{content.localgov_contact_url}}
                      </li>
                    {% endif %}

                    {% if paragraph.localgov_contact_other_url.value %}
                      <li class="contact-list-item">
                         {{content.localgov_contact_other_url}}
                      </li>
                    {% endif %}
                  </ul>

                  {% if paragraph.localgov_contact_office_hours.value %}
                    <div class="opening-times">
                      <h3>{{ 'Opening times'|t }}</h3>
                      {{ content.localgov_contact_office_hours }}
                    </div>
                  {% endif %}
                </div>
                {# End Contact First #}
                {# Begin Contact Second #}
                <div class="lgd-row__one-half contact-container">
                  {% if paragraph.localgov_contact_address.value %}
                    {{ content.localgov_contact_address }}
                    {% if paragraph.localgov_contact_location.value %}
                        {{ content.localgov_contact_location }}
                    {% endif %}
                  {% endif %}
                </div>
                {# Begin Contact Second #}
                </div>
                {# Begin Contact Socials and a11y number #}
            {% if paragraph.localgov_contact_facebook.value or paragraph.localgov_contact_twitter.value or paragraph.localgov_minicomone.value %}

                {% if paragraph.localgov_contact_facebook.value or paragraph.localgov_contact_twitter.value %}
                  <h3>{{ 'Find us on'|t }}</h3>
                  <ul class="contact-list">
                    {% if paragraph.localgov_contact_facebook.value %}
                      <li class="contact-list-item">
                        <a href="{{ content.localgov_contact_facebook|render|striptags }}">{{ 'Facebook'|t }}</a>
                      </li>
                    {% endif %}
                    {% if paragraph.localgov_contact_twitter.value %}
                      <li class="contact-list-item">
                        <a href="{{ content.localgov_contact_twitter|render|striptags }}">{{ 'Twitter'|t }}</a>
                      </li>
                    {% endif %}
                    {% if paragraph.localgov_contact_instagram.value %}
                      <li class="contact-list-item">
                        <a href="{{ content.localgov_contact_instagram|render|striptags }}">{{ 'Instagram'|t }}</a>
                      </li>
                    {% endif %}
                    {% if paragraph.localgov_contact_other_social.value %}
                      <li class="contact-list-item">
                        <a href="{{ content.localgov_contact_other_social|render|striptags }}">{{ 'Other'|t }}</a>
                      </li>
                    {% endif %}
                  </ul>
                {% endif %}
            {% endif %}
            {# End Contact Socials and a11y number #}

    {% endblock %}
  </div>
{% endblock paragraph %}



          
